@charset "UTF-8";

/*:root{
    /* Color Pallete */
/*    --color1 = #BABFD1;
    --color2 = #56638A;
    --color3 = #02020A;
}*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #02020A;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section{
    position: absolute;
    background-color: #BABFD1;
    width: 300px;
    height: 500px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    border-radius: 20px;

    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    overflow: hidden;

    transition-duration: 2s;
}
div#img{
    height: 40%;
    background-image: url(../MainImage.jpg);
}
div#login{
    padding: 10px;
}
div#login > p{
    margin: 10px 0px 10px 0px;
}
p#i{
    background-color: #56638A;
}

form input[type=submit] {
    display: block;

    width: 100%;
    font-size: 1.9em;
    height: 35px;

    border: none;

    color: #BABFD1;
    background-color: #56638A;
    border-radius: 10px;
    transition-duration: 2s;
    cursor: pointer;
    margin: 10px;
}
form a{
    display: block;

    width: 100%;
    font-size: 1.5em;
    height: 35px;

    border: none;

    text-decoration: none;

    color: #BABFD1;
    background-color: #404a68;
    border-radius: 10px;
    text-align: center;
    transition-duration: 2s;
}
form input[type=submit]:hover{
    background-color: #404a68;
    box-shadow: 0px 0px 10px black;
}
form input[type=email], input[type=password]{

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body{background-image: linear-gradient(to bottom, #02020A, #56638A);}
    section#login{
        width: 70vw;
    }
    section#login > div#img{
        float: left;
        width: 35%;
        height: 100%;
    }
    section#login > div#login{
        float: right;
        width: 65%;
    }
    form input[type=submit]{
        width: 65%;
    }
}
/* Desktop */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    body{background-image: linear-gradient(to bottom, #02020A, #56638A);}
    section#login{
        width: 70vw;
    }
    section#login > div#img{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#login{
        float: left;
        width: 50%;
    }
    form input[type=submit]{
        width: 50%;
    }
}
/* TV */
@media screen and (min-width: 1200px) {
    body{background-image: linear-gradient(to bottom, #02020A, #56638A);}
    section#login{
        width: 70vw;
    }
    section#login > div#img{
        float: bottom;
    }
    section#login > div#login{
        float: top;
    }
}
