@charset "UTF-8";

/* Mobile First */
@media all {
    :root{
        --cor1: 178, 242, 255;
        --cor2: rgb(250, 250, 250);
        --cor3: rgb(200, 200, 200);
        --cor4: rgb(150, 150, 150);
        --cor5: rgb(100, 100, 100);
        --cor6: rgba(100, 100, 100, 0);
    }
    *{
        padding: 0px;
        margin: 0px;
    }
    html, body{
        height: 100vh;
    }
    body{
        background-color: rgb(var(--cor1));
    }

    header{
        background: var(--cor2) linear-gradient(to bottom, var(--cor2), var(--cor3));
        margin: 0px auto 10px auto;
        transition-duration: 2s;
    }
    header h1{
        text-align: center;
        padding: 10px;
        color: rgb(var(--cor5));
        text-shadow: 0px 0px 10px var(--cor5);
    }
    menu{
        display: none;
        text-align: center;
        background-image: linear-gradient(to top, var(--cor5), var(--cor6));
        
    }
    menu ul{
        list-style-type: none;
    }
    menu li{
        padding: 10px;
        border-top: 2px dashed black;
        transition-duration: 2s;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
    li:hover{
        background-color: var(--cor4);
    }

    main{
        background: var(--cor2) linear-gradient(to bottom, var(--cor2), var(--cor3));
        padding: 10px;
        margin: 10px auto 10px auto;
        max-width: 800px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px black;
        transition-duration: 2s;
    }
    span#burguer{
        background-color: rgb(60, 60, 60);
        color: white;
        display: block;
        margin: auto;
        text-align: center;
        padding: 10px;
    }
    span#burguer:hover{
        background-color: rgb(200, 200, 200);
        color: black;
        display: block;
        margin: auto;
        text-align: center;
        padding: 10px;
    }
    main h1{
        padding: 10px;
        margin: 0px 0px 10px 0px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    hr{
        margin: 10px 0px 10px 0px;
    }

    ::-webkit-scrollbar{
        width: 0px;
        height: 0px;}
}

@media screen and (min-width: 481px) {
    menu{
        display: block;
    }
    menu li{
        display: inline;
        padding: 10px;
        border: none;
        transition-duration: 2s;
        border-radius: 5px 5px 0px 0px;
        background-color: var(--cor2);
        box-shadow: 0px -8px 8px;
    }
    span#burguer{
        display: none;
    }
    
}


/*menu li{
        display: inline-block;
        background-color: var(--cor5);
        padding: 10px;
        margin: 10px 10px 0px 10px;
        transition-duration: 2s;
        border-radius: 5px 5px 0px 0px;
    }
    menu li:hover{
        background-color: var(--cor1);
    }