@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Staatliches&display=swap');

body{
    font-family: 'Staatliches', sans-serif;
    margin: 0px;
    padding: 0px;
    transition-duration: 1s;
}

div{
    background-color: rgb(50, 50, 50);
    width: 100%;
    height: 100vh;
    font-size: 470%;
    margin: 0px;
    background-size: cover;
}
div#Name{
    box-shadow: 0px 0px 100px;
}
div#Web{
    box-shadow: 0px 0px 100px;
    background: rgb(30, 30, 30) url(../Recources/Images/WebDev.png) center center no-repeat fixed;
}
div#Web:hover{
    background-image: linear-gradient(to bottom, rgba(230, 230, 230, 0), rgba(255, 255, 255, 0.2)), url(../Recources/Images/WebDev.png);
}

div#App{

    background: rgb(30, 30, 30) url(../Recources/Images/AppDev.png) center center no-repeat fixed;
    box-shadow: 0px 0px 100px;

}
div#App:hover{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.2)), url(../Recources/Images/AppDev.png);
}

div#Design{

    background: rgb(30, 30, 30) url(../Recources/Images/Design.png) center center no-repeat fixed;
}
div#Design:hover{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.2)), url(../Recources/Images/Design.png);
}


div#Name h1{
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}div#Web h1{
    left: 50%;
    top: 140%;
    transform: translate(-50%, -50%);
}div#App h1{
    left: 50%;
    top: 250%;
    transform: translate(-50%, -50%);
}div#Design h1{
    left: 50%;
    top: 340%;
    transform: translate(-50%, -50%);
}
h1{
    size: 10cm;
    text-align: center;
    position: absolute;
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 10vw;
    transition-duration: 1s;
}
h1:hover{
    color: rgb(1, 87, 172);
    text-shadow: 0px 0px 50px black;
}