@charset "UTF-8";
/* Estilo Para Telas */

* {
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-image: linear-gradient(to bottom, rgb(135, 135, 135), rgb(72, 72, 72));
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 5px black;
}
header h1{
    padding: 10px;
    color: white;
}
header li{
    display: inline-block;
    margin: 10px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 2s;
}
header li:hover{
    background-image: linear-gradient(to bottom, rgb(240, 239, 239), rgb(164, 163, 163));
}