@charset "UTF-8";
/* Typical Device Breakpoints
    Mobile devices – 320px — 480px.
    iPads, Tablets – 481px — 768px.
    Small screens, laptops – 769px — 1024px.
    Desktops, large screens – 1025px — 1200px.
    Extra large screens, TV – 1201px, and more.

/* Printer Configuration */
@media print {
    body h1{
        /* Unessesary  background-image: url(../images/back-print.jpg);*/
        font-family: 'Courier New', Courier, monospace;
    }
    img#Phone{
        display: none;
    }
    img#Printer{
        display: block;
    } 
}

/* iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    body{
        background-image: url(../images/back-tablet.jpg);
    }
    img#Phone{
        display: none;
    }
    img#Tablet{
        display: block;
    }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    body{
        background-image: url(../images/back-pc.jpg);
    }
    img#Phone{
        display: none;
    }
    img#PC{
        display: block;
    }
}

/* Desktops, large screens Extra large screens, TV– 1025px — 1200px. */
@media screen and (min-width: 1025px) {
    body{
        background-image: url(../images/back-tv.jpg);
    }
    img#Phone{
        display: none;
    }
    img#TV{
        display: block;
    }
}